#section2{
    background-color: rgba(15, 1, 1, 0.91);
}
#section1{
    background-image: url('https://media.istockphoto.com/id/1542598409/photo/movie-podium-background-with-movie-objects-3d-rendering.jpg?s=612x612&w=0&k=20&c=taQFeF3vasOm9kUjATv9sWSIt0GiFfRLeib-mOJ58fs=');
    background-position: center;
    background-size: cover;
}
#section3{
    background-color: rgba(15, 1, 1, 0.91);
}
#p2{
    text-align: center;
}
#footersection{
    background-color: rgba(15, 1, 1, 0.91);
}